h1 {
    color: white;
    background-color: blueviolet;
}
p {
    color: blueviolet;
}
ol{
    color: gold;
}
ul{
    color: gold;
}
a{
    color: gold;
}
h3{
    color: blueviolet;
}